body {
  background: rgb(148, 148, 213);
  background: linear-gradient(132deg, rgb(250, 250, 250) 0%, rgb(105, 186, 206) 51%, rgb(29, 25, 136) 98%);
  background-size: cover;
  margin: 0;
  padding: 0;
}

main {
  font-size: 2em;
  color: black;
}
